.growth-rate-table-box {
    display: flex;
    flex-direction: row;
    border: solid 1px #E0E4E7;
    max-width: 280px;
    height: fit-content;
    padding: 0;
    background-color: #FFFFFF;
    border-radius: 6px;
}

.list-text {
    text-align: right;
}

.growth-rate-title-box {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 49px;
    align-items: center;
    background-color: #FFFFFF;
    border: solid 1px #E0E4E7;
    border-bottom: 0;
    border-radius: 6px;
}