.fair-value-container {
    height: 200px;
    padding: 15px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    max-width: 440px;
    border: solid 1px #E0E4E7;
    background-color: #FFFFFF;
    border-radius: 6px;
}

.fair-value-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fair-value-label {
    display: flex;
    width: 50%;
    align-items: center;
    padding: 0 3px;
}

.fair-value-price {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 3px;
}

.progress-bar-skeleton {
    width: 100%;
    border-radius: 6px;
    margin: 3px 3px;

}

.value-skeleton {
    transform: scale(1.0, 2.0);
    border-radius: 6px;
    width: 160px;
    margin: 3px 0;
}