.fair-value-container {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.fair-value-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fair-value-label {
    display: flex;
    width: 50%;
    align-items: flex-end;
}

.fair-value-price {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
