.text-input {
    height: 36px;
    width: 50px;
    text-align: center;
    border: 0;
    background-color: #f1f1f1;
    border-radius: 6px;
}
.text-input:focus {
    outline: 0;
    border-top: inset 3px #737373;
    border-left: inset 3px #737373;
    color: #737373;
}
.text-input-grid {
    margin-bottom: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3px;
    border: solid 1px #E0E4E7;
    background-color: #FFFFFF;
    border-radius: 6px;
}

.text-input-label {
    padding-right: 18px;
}