.symbol-input {
    width: 190px;
    margin-bottom: 20px;
    display: flex;
    height: 43.81px;
    justify-content: center;
    text-align: center;
    border: solid 1px #000;
}

.symbol-input:focus {
  outline: 0;
  background-color: #bababa;
}

.symbol-input::placeholder {
  color: #bababa;
}
