.symbol-input {
    width: 120px;
    margin: 10px;
    display: flex;
    height: 43.81px;
    justify-content: center;
    text-align: center;
    border: 0;
    border-radius: 4px;
}

.symbol-input:focus {
    outline: 0;
    border-top: inset 3px #737373;
    border-left: inset 3px #737373;

}   

.symbol-input::placeholder {
  color: #bababa;
}
