.symbol-input {
    width: 120px;
    margin: 10px;
    display: flex;
    height: 43.81px;
    justify-content: center;
    text-align: center;
    border: 0;
    border-radius: 6px;
    border-color: #737373;
}

.symbol-input:focus {
    outline: 0;
    padding-top: 3px;
    padding-left: 3px;
    border-top: inset 3px;
    border-left: inset 3px;
}   

.symbol-input::placeholder {
  color: #bababa;
}
